.App {
  background-color: var(--pale-grey);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fullHeight {
  position: relative;
  height: 100vh;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: "flex";
  flex: 1;
}

.chatwindow {
  display: flex;
  flex: 3;
  background-color: var(--dusk);
}

.contact-card {
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 16px;
  border-radius: 6px;
  font-family: Lato;
  color: var(--dusk);
  box-shadow: 0 3px 11px 0 rgba(129, 129, 129, 0.31),
    0 2px 4px 0 rgba(160, 181, 245, 0.19);
  background-color: var(--white);
}
